body {
  font-family: 'Cinzel', Georgia;
  background: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 90px 0;
  font-weight: normal;
  text-align: center;
  font-size: 45px;
}


.thumbnail {
  width: 393px;
  height: 283px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}


.thumbnails a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 30px;
  margin-top: 0;
  margin-bottom: 70px;
}

.thumbnails .caption {
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 19px;
  /* margin: 12px; */
  font-size: 23px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  /* height: 47px; */
}


.back-button {
  width: 30px;
  height: 30px;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  margin:16px auto;
  margin-bottom: 56px;
  max-width: 118vh;
}


@media (max-width: 675px) {
  .image {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 675px) {
  .thumbnails a {
    display: block;
  }

  h1 {
    font-size: 35px;
    margin: 70px 0;
  }

  .thumbnail {
    width: 293px;
    height: 211px;
  }  


  .thumbnails .caption {
    font-size: 19px;
    padding: 12px;
    /* height: 37px; */
  }
}


.image img {
  max-height: 90vh;
  max-width: 100%;
}


.caption {
  /* margin: 8px; */
  font-size: 16px;
}
